@charset "utf-8";

/*
* foundation/_base.scss
*/
html {
    font-size: $base-fsize;
    font-feature-settings: "palt" 1;
}

body {
   @include ff;
   @include global;
}

* {
    box-sizing: border-box;
}

.handle{
    cursor: move;
}


::-webkit-scrollbar-track{
    background-color: red;
}

[v-cloak] {
    display: none
}

*:focus {
    outline: none;
}

textarea,input {
    @include ff;
    box-sizing: border-box;
}