@charset "utf-8";

/*
* theme/_theme.scss
*/

/*=================================
Base Layout Vars
=================================*/

$body-margin: 30px;
$responsive-min: 559px;
$responsive-max: 1180px;

/*=================================
Base Text Vars
=================================*/

//font-size vars
$base-fsize: 62.5%;
$f10: 1rem;
$f12: 1.2rem;
$f14: 1.4rem;
$f16: 1.6rem;
$f20: 2rem;
$f24: 2.4rem;
$f28: 2.8rem;
$f32: 3.2rem;

//font-size & line-height
@mixin text($fs) {
    font-size: $fs;
    line-height: ($fs * 1.75);
}

//font-family
@mixin ff {

    font-family: "HiraginoSans-W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", YuGothic, YuGothicM, メイリオ, Meiryo, sans-serif;

}

/*=================================
desigin Vars
=================================*/

//space
$s4: 0.4rem;
$s8: 0.8rem;
$s16: 1.6rem;
$s24: 2.4rem;
$s28: 2.8rem;
$s32: 3.2rem;
$s40: 4rem;
$vw100: 100vw;
$vh100: 100vh;

//radius
$r8: 0.8rem;
$r10: 1rem;
$r100: 10rem;
$r200: 20rem;

$round: $s8;

//size&padding&radius
@mixin spr($w:auto, $h:auto, $p:0, $r:$round) {

    width: $w;
    height: $h;
    padding: $p;
    border-radius: $r;
}

//radius
@mixin r($r:$round) {
    border-radius: $r;
}

//padding
@mixin p($p) {
    padding: $p;
}

//margin
@mixin m($m) {
    margin: $m;
}

//size
@mixin s($w:auto, $h:auto, $mw:auto, $mh:auto, $mxw:auto, $mxh:auto) {

    @if $w !=auto {
        width: $w;
    }

    @if $h !=auto {
        height: $h;
    }

    @if $mw !=auto {
        min-width: $mw;
    }

    @if $mh !=auto {
        min-height: $mh;
    }

    @if $mxw !=auto {
        max-width: $mxw;
    }

    @if $mxh !=auto {
        max-height: $mxh;
    }
}

/*=================================
Colors Vars
=================================*/

//colors
$white:#fff;
$black: #000;
$lightGray: #e8e8e8;
$gray: #ccc;
$darkGray: #515151;

$theme:#193489;
$sub1:#62cff7;
$sub2:#cbf762;
$strong1: #c11212;
$strong2: #ff8003;
$primary:#62cff7;
$phover:#aae7fd;
$secondary:#ccc;
$shover:#e8e8e8;

$transparent:transparent;

$menu: $transparent;
$mhover:#62cff7;

$error:#f09393;
$warn:#fcd86b;
$normal:#62cff7;

$link:#193489;
$lhover:#2c8fe6;

$border:$lightGray;

$coverbg:rgba(0, 0, 0, 0.25);

//color
@mixin c($c) {

    color: $c;
}

//background-color
@mixin bgc($c) {

    background-color: $c;
}

//background-image
@mixin bgi($src) {

    background-image: $src;
    background-position: center center;
    background-repeat: no-repaet;
    overflow: hidden;
    background-size: cover;
}

//border
@mixin bdc($c) {

    border: solid 1px $c;
}

//link
@mixin link($c, $a) {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: $c;

    &:active {
        color: $a;
    }

    &:hover,
    &:visited {
        color: $c;
    }
}

//box-shadow
@mixin shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*=================================
layout Vars
=================================*/

//indexs
$index_xh: 90001;
$index_h: 90000;
$index_xm: 80001;
$index_m: 8000;
$index_xl: 70001;
$index_l: 70000;


//responsive
@mixin res {

    @media screen and (max-width:$responsive-min) {

        @content;
    }
}

//container
@mixin container {
    position: relative;
    display: block;
    margin: 0 auto;
    min-width: $responsive-min;
    max-width: $responsive-max;
}

//image
@mixin img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

//flex
@mixin flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

//absolute
@mixin abs($t:auto, $b:auto, $l:auto, $r:auto, $index:100) {

    position: absolute;

    @if $t !=auto {
        top: $t;
    }

    @if $b !=auto {
        bottom: $b;
    }

    @if $l !=auto {
        left: $l;
    }

    @if $r !=auto {
        right: $r;
    }

    z-index: $index;
}


//fixed
@mixin fix($t:auto, $b:auto, $l:auto, $r:auto, $index:1) {

    position: fixed;

    @if $t !=auto {
        top: $t;
    }

    @if $b !=auto {
        bottom: $b;
    }

    @if $l !=auto {
        left: $l;
    }

    @if $r !=auto {
        right: $r;
    }

    z-index: $index;
}

//center fix
@mixin centerfix($w:auto, $h:auto, $index:1) {
    position: fixed;
    top: calc(50% - #{$h} /2);
    left: calc(50% - #{$w} /2);
    z-index: $index;
}