  @charset "utf-8";

/*
* theme/_theme.scss
*/

/*=================================
Base Layout Vars
=================================*/

$responsive-min: 559px;
$responsive-max: 1180px;

//responsive
@mixin responsive($w) {
  @media screen and (max-width: $w) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $responsive-min) {
    @content;
  }
}

/*=================================
Base Text Vars
=================================*/

//font-size vars
$base-fsize: 62.5%;
$f10: 1rem;
$f11: 1.1rem;
$f12: 1.2rem;
$f14: 1.4rem;
$f15: 1.5rem;
$f16: 1.6rem;
$f17: 1.7rem;
$f18: 1.8rem;
$f20: 2rem;
$f22: 2.2rem;
$f24: 2.4rem;
$f25: 2.5rem;
$f29: 2.9rem;
$f72: 7.2rem;

//font-family
@mixin ff {
  font-family: source-han-sans-cjk-ja,"HiraginoSans-W3", "Hiragino Kaku Gothic ProN",
    "Hiragino Kaku Gothic Pro", "游ゴシック Medium", YuGothic, YuGothicM,
    メイリオ, Meiryo, sans-serif;
}

@mixin heavy{
  font-weight: 900;
  font-style: normal;
}

@mixin bold{
  font-weight: 700;
  font-style: normal;
}

@mixin medium{
  font-weight: 500;
  font-style: normal;
}

@mixin regular{
 
  font-weight: 400;
  font-style: normal;
}

@mixin en {
  font-family: jaf-mashine, sans-serif; 
  font-weight: 600;
  font-style: normal;
}


/*=================================
Colors Vars
=================================*/

//colors
$theme: #262c33;
$primary: #25C722;
$primarySub: #3ed83c;
$secondary: #848484;
$secondarySub: #9a9a9a;
$general:#fff;

$transparent: transparent;

$blue:#62cff7;
$yellow:#fcd86b;
$black:#000;
$white:#fff;

/*=================================
Color Compose
=================================*/

$systemBG: $theme;

//リンク
$link: $primary;
$lhover: $primarySub;

//ボタンテキスト
$primaryButtonText: $general;
$newButtonText: $black;
$secondaryButtonText: $general;
//ボタン本体
$primaryButton: $primary;
$pHoverButton: $primarySub;
$secondaryButton: $secondary;
$sHoverButton: $secondarySub;

//タブ
$primaryTabText: $general;
$primaryTabBar: $primary;
$secondaryTabText:#b0b1b2;
$secondaryTabBar:#393e44;
$formLabelText: $general;

//タイトル
$titleText:$general;

//プロジェクト
$project:$general;
$projectIcon:$theme;
$projectText:$general;

//ユーザーネーム
$userNameText:$general;

//nav
$navText:$general;

//footer
$footerText:$general;

//メニュー
$menuText:$theme;
$menuBase:$general;
$menu: $transparent;
$mhover: $primary;

//警告
$error: rgba(255, 82, 82,0.74);
$warn: $yellow;
$normal: $blue;
$messageText:$general;
$alertText:$black;
$alert:$general;

//ボード
$boardText:$theme;
$board:$general;
$boardMenu:$theme;

//タスク
$taskText:$black;
$editingTaskText:$black;
$editingTask:$primary;
$task:#ececec;
$postTask:$theme;
$taskMenu:#9d9fa2;

//メンバー
$memberTitleText:$white;
$memberTitle:$theme;
$memberListText:$black;

//汎用ボーダーcolor
$border: #b2b2b2;

//coverBG
$coverbg: rgba(38, 44, 51, 0.47);


/*=================================
desigin Vars
=================================*/

//space
$s4: 0.4rem;
$s8: 0.8rem;
$s12: 1.2rem;
$s14: 1.4rem;
$s16: 1.6rem;
$s18: 1.8rem;
$s20: 2rem;
$s24: 2.4rem;
$s28: 2.8rem;
$s32: 3.2rem;
$s40: 4rem;
$vw100: 100vw;
$vh100: 100vh;

//radius
$r3: 0.15rem;
$r6: 0.3rem;
$r8: 0.4rem;
$r16: 0.8rem;

//background-image
@mixin bgi($src) {
  background-image: $src;
  background-position: center center;
  background-repeat: no-repaet;
  overflow: hidden;
  background-size: cover;
}

//box-shadow
@mixin shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

/*=================================
layout Vars
=================================*/

//indexs
$index_xh: 90001;
$index_h: 90000;
$index_xm: 80001;
$index_m: 8000;
$index_xl: 70001;
$index_l: 70000;

//flex
@mixin flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

//grid
@mixin grid($row, $col, $area) {
  display: grid;
  grid-template-columns: $col;
  grid-template-rows: $row;
  grid-template-areas: $area;
}


/*=================================
Animation Vars
=================================*/

$ms100:100ms;
$ms200:200ms;
$ms300:300ms;
$ms400:400ms;
$ms500:500ms;
$ms800:800ms;
$ms1000:1000ms;

@mixin transiton($ms) {

  transition: all $ms 0s ease;
}


/*=================================
Compose
=================================*/

@mixin textFactory($f,$c,$style){

  font-size: $f;
  color:$c;

  @if $style == "heavy" {
    @include heavy;  
  }
  @if $style == "bold" {
    @include bold;  
  }
  @if $style == "medium" {
    @include medium;  
  }
  @if $style == "regular" {
    @include regular;  
  }
  @if $style == "en" {
    @include en;  
  }
}

@mixin containerFactory($c,$r,$p){

  background-color: $c;
  border-radius: $r;
  padding: $p;
}


//ログイン・登録系 ===================
@mixin tab($textc,$c){
  @include textFactory($f16,$textc,"medium");
  display: inline-block;
  letter-spacing: 0.3rem;

  &::after{
    display: block;
    content:"";
    background-color: $c;
    width: 100%;
    height: 6px;
    border-radius: $r3;
    margin:10px 0;
  }
}

@mixin primaryTab{
  @include tab($primaryTabText,$primaryTabBar);
}

@mixin secondaryTab{
  @include tab($secondaryTabText,$secondaryTabBar);
}

@mixin previewUserNameText{
  @include textFactory($f18,$userNameText,"bold");
}

@mixin formLabel{
  @include textFactory($f12,$formLabelText,"bold");
}

//ヘッダ ===================
@mixin newButton{
  @include textFactory($f17,$newButtonText,"medium");
  @include containerFactory($primaryButton, 200px, 11px 20px 14px 39px);
  line-height: 1rem;
  text-align: left;
  position: relative;
  display: inline-block;
}

@mixin nav{
  @include textFactory($f11,$navText,"en");
}

@mixin userNameText{
  @include textFactory($f15,inherit,"medium");
  letter-spacing: 0.05rem;
}

@mixin imageIcon($style){
  
  overflow: hidden;

  @if $style == "XL" {
    width:96px;
    height:96px;
    border-radius: 100px;
  }
  @if $style == "L" {
    width:68px;
    height:68px;
    border-radius: 70px;
  }
  @if $style == "M" {
    width:45px;
    height:45px;
    border-radius: 50px;
  }
  @if $style == "S" {
    width:26px;
    height:26px;
    padding-right: 3px;
    border-radius: 30px;
  }
}


//フッタ ===================
@mixin footerText{
  @include textFactory($f14,$footerText,"en");
}

//ボタン類 ===================

@mixin button($c,$hoverc){
  @include textFactory($f14,$primaryButtonText,"bold");
  @include containerFactory($c, $r8, 11px 32px);
  height: 34px;
  line-height: 1rem;

  &:hover{
    background-color: $hoverc;
  }
}

@mixin primaryButton{
  
  @include button($primaryButton,$pHoverButton);
}

@mixin secondaryButton{
  
  @include button($secondaryButton,$sHoverButton);
}

@mixin primarySideButton{
  
  @include button($primaryButton,$pHoverButton);
  width: auto;
  height: auto;
  padding:14px 0 ;
  margin: 0 0 0 $s8;
}

@mixin transparentButton{
  
  background-color: $transparent;
}

@mixin miniButton($c,$hoverc){

  @include textFactory($f12,$primaryButtonText,"medium");
  @include containerFactory($c, $r6, 6px 10px 0 10px);
  height: 23px;
  line-height: 1rem;
  &:hover{
    background-color: $hoverc;
  }
}

@mixin primaryMiniButton{
  @include miniButton($primaryButton,$pHoverButton);
}

@mixin secondaryMiniButton{
  @include miniButton($secondaryButton,$sHoverButton);
}

@mixin addMiniButton{
  @include miniButton($theme,$theme);
  padding-top: 0;
  height: 23px;
}

//input button
@mixin input($c,$hoverc){
  @include textFactory($f14,$primaryButtonText,"bold");
  @include containerFactory($c, $r8, 5px 32px 7px 32px);

  line-height: 1rem;

  &:hover{
    background-color: $hoverc;
  }
}

@mixin secondaryInput{
  
  @include input($secondaryButton,$sHoverButton);
}

@mixin secondaryInputSideText{
  @include textFactory($f12,$primaryButtonText,"regular");
}


//コンテキストメニュー ===================
@mixin menuButton{
  @include textFactory($f14,$menuText,"regular");
  @include containerFactory($menu, $r6, 10px 6px );
  width: 100%;
  white-space: nowrap;
  text-align: left;
  line-height: 1rem;
  &:active{
    background-color: $primary;
  }
}

@mixin context{
  @include containerFactory($menuBase, $r16, 7px);
  @include shadow;
  min-width: 75px;
  border: solid 1px $border;
  position: absolute;
  z-index: $index_m;
}

//フォーム類 ===================

@mixin inputForm{
  font-size: $f16;
  padding: $s8;
  border-radius: $r3;
  background-color: $general;
}

@mixin editableInputForm{
  @include textFactory($f16,$white,"regular");
  @include containerFactory($transparent, $r3, $s8 0);
  letter-spacing: 0.1rem;
  border:none;
}


@mixin editableInputFormTitle{
  @include textFactory($f25,$titleText,"bold");
  @include containerFactory($transparent, $r6, 0 0 3px 0);
  letter-spacing: 5px;
  border: none;
  height:42px;
  text-align: center;
  line-height: 1rem;
}

//プロジェクト画面 ===================
@mixin project{
  @include containerFactory($project, $r16, 0);
  width: 190px;
  height: 136px;
}

@mixin projectText{
  @include textFactory($f14,$projectText,"bold");
}

@mixin dateText{
  @include textFactory($f12,$projectText,"regular");
  letter-spacing: 0.08rem;
}


//ボード ===================
@mixin boardText{
  @include textFactory($f14,$boardText,"bold");
}

@mixin board{
  @include containerFactory($board, $r16, 0);
  width: 266px;
}


//タスク ===================
@mixin taskText{
  @include textFactory($f16,$taskText,"regular");
  @include containerFactory($task, 0, 0 6px);
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
  resize: none;
  background-color: $white;
  border: none;
}

@mixin task{
  @include containerFactory($task, $r6, 8px);
  width: 266px;
}

@mixin postTask{
  @include containerFactory($postTask, $r6,8px 8px 39px 8px);
  width: 100%;
  height: 170px;
}

@mixin editing{
  @include textFactory($f14,$editingTaskText,"medium");
  @include containerFactory($editingTask, $r6, 6px 59px 8px 0);
  width: 100%;
  text-align: right;
  line-height: 1rem;
}


//メンバー ===================
@mixin memberTitle{
  @include textFactory($f14,$memberTitleText,"medium");
  @include containerFactory($memberTitle, 0, 8px);
  line-height: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

@mixin memberList{
  @include textFactory($f16,$memberListText,"medium");
  line-height: 1rem;
}


//メッセージ ===================
@mixin error{
  display: block;
  @include textFactory($f16,$messageText,"medium");
  @include containerFactory($error, $r8,4px 20px 10px 42px);
  width: 100%;
  text-align: left;
  line-height: 2.4rem;
}

@mixin alert{
  @include textFactory($f16,$alertText,"medium");
  @include containerFactory($alert, $r16, 30px 26px 73px 26px);
  width: 370px;
  min-height: 232px;
  @include shadow;
}

@mixin cover{
  @include containerFactory($coverbg, 0, 0);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
  z-index:$index_h;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin global{
  @include containerFactory($theme, 0, 26px 45px 0 45px);

  @include mobile{
    @include containerFactory($theme, 0, 15px);
  }
}